<DOCTYPE>
	<html>
	<head>
		<title>Angular Salary App</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	</head>

	<body ng-app="myApp">

		{{2+2}}
		<!-- <div>
			<h2>{{title}}</h2>
		</div> -->
		<div ng-controller="MathController">
			<input type="text" ng-model="gross" />
			<p> The employee deduction is: {{empInsurance()}}</p>
			<p> The cpp deduction is: {{cppDeduction()}}<p>
			<p> The bonus addition is: {{bonusAdd()}}<p>
			<p> The total salary so far is: {{totalSoFar().toFixed(2)}}<p>

			<!-- <p> The CPP deduction is: {{cpp()}}</p> -->
            <select ng-options="gender for gender in genders" ng-model="selectedG" ng-init="selectedG = true"></select>

            	
          
            
			
            <select ng-options="dependant for dependant in dependants" ng-model="selectedD"></select>

				<div ng-switch on="selectedD">
      				<div ng-switch-when="2">2 Dependants</div>
      				<div ng-switch-when="3">3 Dependants</div>
      				<div ng-switch-when="4">4 dependants</div>
  				</div> 

  				<!-- <p> The income tax is: {{SwitchFunction(selectedG, selectedD)}}</p> -->

				<!-- <div ng-switch on="selectedD">
					<div ng-switch-when="2">{{maletwo()}}</div>
						<div ng-switch-when="3">{{malethree()}}</div>
							<div ng-switch-when="4">{{malefour()}}</div>

											<p> The final salary is: {{finalSalary()}}<p> -->

	
		</div>

		
		
			

	</body>


<script src="app.js"></script>
<script src="angular.js"></script>
<!-- <script src="Angular/Controllers/MainController.js"></script> -->
<script>
	

	
</script>

	</html>