<DOCTYPE>
	<html>
	<head>
		<title>Angular Salary App</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
	</head>

	<body ng-app="myApp">

	<div ng-controller="MathController">
      <p>Enter your salary: <input type="text" ng-model="gross"/> </p>
      <p>Enter your bonus: <input type="text" ng-model="bonus"/></p>
			<p> The employee deduction is: ${{empInsurance().toFixed(2)}}</p>
			<p> The cpp deduction is: ${{cppDeduction().toFixed(2)}}<p>
			<p> The bonus addition is: ${{bonusAdd.toFixed(2)}}<p>
			<p> The Income Tax deduction is: ${{incomeTax().toFixed(2)}}<p>
			
      <p>Select your gender:       
      <select ng-options="gender for gender in genders" ng-model="selectedG" ng-init="selectedG = true"></select>
  		</p>			

      <p> Select the number of dependants:
      <select ng-options="dependant for dependant in dependants" ng-model="selectedD"></select>
      </p>
      
			<p> Your final salary is: ${{totalSalary().toFixed(2)}}</p>

	</body>

	<script src="app.js"></script>
	<script src="angular.js"></script>

</html>